.navber.active {
    border: 2px solid #23BE0A;
    color: #23BE0A;
   
}

 .navber.active:hover {
    background-color: #23BE0A;
    color: #fff;
}
 .navber:hover {
    background-color: #d4e0d2;
}

.navber{
    padding: 10px ;
    border-radius: 10px;
    color: #000;
    list-style: none;
    text-decoration: none;
    margin-right: 15px;
}