.navber.active {
    border: 2px solid #23BE0A;
    color: #23BE0A;
   
}

 .navber:hover {
    background-color: #23BE0A;
    color: #fff;
}

.navber{
    padding: 15px 20px;
    border-radius: 10px;
    color: #000;
    list-style: none;
    text-decoration: none;
    margin-right: 15px;
}